@import '../index.css';

.mask {
  width: 100%;
  height: 90vh;
  position: relative;
}

.into-img {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
}

.hero {
  height: 85%;
  width: 100svw;
}

.hero .content {
  margin-top: 5%;
  margin-bottom: 73px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.hero .content h1{
  font-size: 3rem;
  font-weight: 600;
  padding: 0.6rem 0 1.5rem;
  color: rgba(0, 0, 0, 0.75);
}

.hero .content p{
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.content .btn {
  margin: 1rem 0.2rem;
  color: rgba(0, 0, 0, 0.9);
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: transparent;
  border: solid 1px black;
  border-radius: 5%;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 255, 255) !important;
  transition: 0.3s;
  transform: scale(1.05);
  color: white;
}

@media screen and (max-width:700px) {
  .hero .content h1{
    font-size: 2rem;
  }
  
  .hero .content p{
    font-size: 1.4rem;
  }
}